{
    overflow: hidden;
    margin:0px auto;
}

.row .col{
    /*float:left;*/
    overflow:hidden;
    margin: 0px 5px;
    font-family:"メイリオ", Meiryo,"ヒラギノ角ゴ Pro W3", "Hiragino Kaku Gothic Pro",  Osaka, "ＭＳ Ｐゴシック", "MS PGothic", sans-serif;
    padding:0px;
}

.col textarea{
    /*margin: 5px 2px;*/
    font-size:12px;
    font-family: 'ヒラギノ角ゴ Pro W3', 'Hiragino Kaku Gothic Pro', 'Hiragino Kaku Gothic ProN', 'メイリオ', Meiryo;
    border: 1px solid #B9C9CE;
    border-radius:3px;
    padding: 2px 0.8em;
    width:430px;
    box-shadow: inset 0 1px 2px rgba(0,0,0,0.2);
}

.col textarea:focus {
  border-color:#83B6C2;
    outline:none;
    box-shadow:2px 2px 4px rgba(143,183,222,0.6),-2px -2px 4px rgba(143,183,222,0.6),inset 0 1px 2px rgba(0,0,0,0.2);
}
