a:link { color: #000; }
a:visited { color: #000; }
a:hover { color: #000; }
a:active { color: #000; }

* {margin: 0; padding: 0;}
body {
  background-color: #f2f2f2;
  font-size: 12px;
  font-family: arial, georgia, verdana, 'times new roman';
  font-family: 'Open Sans Condensed', sans-serif;
  text-align:justify;
}

img {
    border-style:none;
}

#header {  
    position: fixed;  
    top: 0;  
    left: 0;  
    width: 100%;  
    height: 40px; 
    /*background-color: #FFD973;*/
    background-color: #fff;
    color: #fff;  
    z-index: 1;
    box-shadow:inset 0 5px 0 rgba(255, 255, 255, 0.5), 0 0 5px #999;
}  


.header_menu {   
    float:left;
    height : 30px; 
    margin: 5px 5px;
    color: #555;  
    font-size:16px;
    z-index: 2;
    border:none;
}  


.header_logo{
	position:fixed;
	margin:0 50%;
	left:-109px;
}

#contents{  
    overflow: hidden;
    margin:40px 0; 
}  

#logo {
	width: 779px;
	margin:20px auto;
}

.year{
	width:100%;
	margin: 20px 0;
	text-align: center
}

.year img{
	display:inline-block;
	width: 800px;	
}

.month{
	/*width:100%;*/
	margin: 10px 0;
	text-align: center;
	
}

.month .month_name{
	margin-left:40px;
}

.month img{
	display:inline-block;
	
}

.month a img{
    margin:5px 0;
    width: 30px;
}

#dec, #nov, #oct, #sep, #aug, #jul, #jun, #may, #apr, #mar, #feb, #jan{
    position: relative;  
    margin:20px auto;
}

#profile{
        width: 800px;
        height: 180px;
        margin:20px auto;
        overflow: hidden;
        background-color: #fff;
    /* 【角丸】　*/
    border-radius:8px;/* CSS3 */
    -webkit-border-radius:8px;/* Safari,Google Chrome */
    -moz-border-radius:8px;   /* Firefox */
    /*　【ボックスシャドー】　*/
    box-shadow:inset 0 1px 0 rgba(255, 255, 255, 0.4), 0 0 5px #999;
}

#profile .col{
    /*float:left;*/
    overflow:hidden;
    margin: 0px 5px;
    font-family:"メイリオ", Meiryo,"ヒラギノ角ゴ Pro W3", "Hiragino Kaku Gothic Pro",  Osaka, "ＭＳ Ｐゴシック", "MS PGothic", sans-serif;
    padding:0px;
}

#profile .col p{
    color:#000;
    max-height:50px;
    overflow:hidden;
    margin: 10px 15px;
    font-family: arial, georgia, verdana, 'times new roman';
    font-family: 'Open Sans Condensed', sans-serif;
    font-size:30px;
}

.item{
	width: 480px;
	/*height: 270px;*/
	margin:8px 8px;
	overflow: hidden;
	background-color: #fff;
    /* 【角丸】　*/
    border-radius:8px;/* CSS3 */
    -webkit-border-radius:8x;/* Safari,Google Chrome */
    -moz-border-radius:8px;   /* Firefox */
    /*　【ボックスシャドー】　*/
    box-shadow:inset 0 1px 0 rgba(255, 255, 255, 0.4), 0 0 5px #999;
}

.item p{
    color:#000;
    max-height:50px;
    overflow:hidden;
    margin: 3px 10px;
    font-family:"メイリオ", Meiryo,"ヒラギノ角ゴ Pro W3", "Hiragino Kaku Gothic Pro",  Osaka, "ＭＳ Ｐゴシック", "MS PGothic", sans-serif;
    font-size:18px;
}

.item .row{
        margin:10px 0px;
        /*height:50px;*/
}

.row .col{
    /*float:left;*/
    overflow:hidden;
    margin: 0px 5px;
    font-family:"メイリオ", Meiryo,"ヒラギノ角ゴ Pro W3", "Hiragino Kaku Gothic Pro",  Osaka, "ＭＳ Ｐゴシック", "MS PGothic", sans-serif;
    padding:0px;
}

.item img{
	cursor: pointer;
}

.item img.play_button{
    position: absolute;
    top: 77px;
    left: 180px;
}

iframe{
	display:inline-block;
	border:none;
}

#infscr-loading {
    margin-left: -100px;
    width: 200px;
    position: fixed;
    left: 50%;
    bottom: 17px;
    text-align: center;
}

#footer{
	margin:0 5px;
	text-align: center;
}

::-webkit-scrollbar {
    width: 5px;
}
::-webkit-scrollbar-track {
    background-color: #EEEEEE;
}
::-webkit-scrollbar-thumb {
    background-color: #5A5A5A;
    -webkit-border-radius: 5px 0 0 5px;
    border-radius:  5px 0 0 5px;
    -moz-border-radius:  5px 0 0 5px;
}
::-webkit-scrollbar-thumb:window-inactive {
    background-color: #979797;
}

